<section class="index">
<div class="home_box">
  <%= image_tag 'olia-gozha-J4kK8b9Fgj8-unsplash.jpg', class: 'd-block w-100 image' %>
  <div class="inner_box">
    <h3>Shiraska-Takahiro</h3>
    <p><%= link_to 'About me', about_index_path, class: 'btn' %></p>
  </div>
</div>

<!-- Portfolio start -->

<h1>Works</h1>
	<section id="work" class="module module-gray">
		<div class="container text-center">
			<div class="row">

				<div class="module-header wow fadeInUp">
					<h2 class="module-title"></h2>
					<div class="module-line"></div>
				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter start-->

			<div class="row">

				<div class="col-sm-12">

					<ul id="filter" class=" wow fadeInUp">
						<li class="active" data-group="all">All</li>
						<li data-group="slideshow">Slideshow</li>
						<li data-group="video">Video</li>
						<li data-group="image">Image</li>
					</ul>

				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter end -->

			<ul class="list-items-container">
        <div class="row">
				<li class="list-item" data-groups="all slideshow" targrt="_blank">
				  <p class="list-item-title">写真投稿アプリ 「Homeru」</p>
					<figure>
                        <%= image_tag 'スクリーンショット 2020-01-03 4.10.29.png' %>
						<figcaption>
							<a href="https://homeru913.herokuapp.com" target="_blank" class="simple-ajax-popup"></a>
							<div class="caption-inner">
								<h3 class="portfolio-item-title">Homeru</h3>
							</div>
						</figcaption>
					</figure>
				</li>

				<li class="list-item" data-groups="all video">
				  <p class="list-item-title">チャットアプリ 「E-Chat」</p>
					<figure>
                         <%= image_tag 'スクリーンショット 2020-01-03 4.11.16.png' %>
						<figcaption>
							<a href="https://e-chat111.herokuapp.com" target="_blank" class="simple-ajax-popup"></a>
							<div class="caption-inner">
								<h3 class="portfolio-item-title">E-Chat</h3>
							</div>
						</figcaption>
					</figure>
				</li>

				<li class="list-item" data-groups="all image">
				  <p class="list-item-title">記事投稿アプリ 「Media_a」</p>
					<figure>
                        <%= image_tag 'スクリーンショット 2020-01-03 4.12.48.png' %>
						<figcaption>
							<a href="https://mediaf.herokuapp.com " target="_blank" class="simple-ajax-popup"></a>
							<div class="caption-inner">
								<h3 class="portfolio-item-title">MediaA</h3>
							</div>
						</figcaption>
					</figure>
				</li>

        </div>
			</ul><!-- .projects-container -->

		</div><!-- .contaier -->
  </section>

</section>
