<section class="container index">
<h1>About Me</h1>
<div class="intro_box">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'UNADJUSTEDNONRAW_thumb_17.jpg', class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'UNADJUSTEDNONRAW_thumb_15.jpg', class: 'd-block w-100' %>      
      </div>
      <div class="carousel-item">
        <%= image_tag 'UNADJUSTEDNONRAW_thumb_4.jpg', class: 'd-block w-100' %>
      </div>
    </div>
    
    <div class="self_intro">
      <p>こんにちは！生まれも育ちも大阪、Shirasaka-Takahiroです！</p>
      <p>現在、webプログラマーを目指して楽しみながら勉強しています。言語は、Ruby on Railsを中心に、HTML, CSS, JavaScriptをスクールに通わず、六月から完全独学で勉強しています。</p>
      <p>好きなものは、プログラミング、英語、筋トレ、猫です。特に、英語と筋トレは高校生から毎日続けており、現在も英検一級合格に向けて日々勉強しています。</p>
      <p>もし、質問などがありましたら、SNSもしくは下記のコンタクトフォームよりご連絡ください。</p>
      <p>最後まで読んで頂き、ありがとうございました！</p>
    </div>
    
    <h1>Skills</h1>
    <div class="skills">
      <div class="row">
        <div class="col-xs-12 col-md-3"><%= icon("fas", "gem", class: "font")%>
          <p class="font_name">Ruby(Ruby on Rails)</p>
        </div>
        <div class="col-xs-12 col-md-3"><%= icon("fab", "html5", class: "font")%>
          <p class="font_name">HTML5</p>
        </div>
        <div class="col-xs-12 col-md-3"><%= icon("fab", "sass", class: "font")%>
          <p class="font_name">Sass</p>
        </div>
        <div class="col-xs-12 col-md-3"><%= icon("fab", "js", class: "font")%>
          <p class="font_name">JavaScript</p> 
        </div>     
      </div>
    </div>

    <div class="about_contact">
      <span>Contact Me</span>
    </div>


    

  </div>


</div>
</section>